<component name="libraryTable">
  <library name="spring-3.0.0">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring/commons-logging.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-instrument.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-jdbc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-beans.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-oxm.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-aspects.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-orm.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-asm.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-jms.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-aop.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/aopalliance.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-core.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-tx.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-expression.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring/spring-context.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>